.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.login__form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h5.text-red {
  color: red;
  margin-top: -10px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn__green {
  background-color: #4caf50;
  color: white;
}

.btn__red {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}

.btn__green:disabled {
  background-color: #bfbfbf; /* Change background color */
  color: #666666; /* Change text color */
  cursor: not-allowed; /* Change cursor style */
}
